.button-container {
  margin-bottom: 12px;
}

.btn-large {
  font-size: 25px !important;
}

#equals {
  height: 120px !important;
}

@media (min-width: 700px) {
  .container {
    width: 50% !important;
  }
}
