<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="<%= webpackConfig.output.filename %>"></script>
  </head>

  <body class="blue-grey lighten-4" ng-app="calculator">
    <main ng-controller="CalcController">
      <div class="container grey lighten-4 z-depth-5" style="margin-top: 25px;">
        <div class="row" style="margin-bottom: 0px; margin-top: 5px;">
          <div id="display" class="col s12">
            <div class="card-panel right-align" style="padding-bottom: 0px; padding-top: 0px;">
              <span class="black-text" style="font-size: 56px;  margin-top: 0px;"><b>{{ answer }}</b>
              </span>
              <p class="black-text" style="margin-top: 0px;">{{ history }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="col s3 button-container">
              <button id="clear" class="btn-large waves-effect waves-light red darken-1 col s12" ng-click="calc('ac')">AC</button>
            </div>
            <div class="col s3 button-container">
              <button class="btn-large waves-effect waves-light red darken-1 col s12" ng-click="calc('ce')">CE</button>
            </div>
            <div class="col s3 button-container">
              <button id="divide" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('/')">÷</button>
            </div>
            <div class="col s3 button-container">
              <button id="multiply" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('*')">×</button>
            </div>
            <div class="col s3 button-container">
              <button id="seven" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('7')">7</button>
            </div>
            <div class="col s3 button-container">
              <button id="eight" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('8')">8</button>
            </div>
            <div class="col s3 button-container">
              <button id="nine" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('9')">9</button>
            </div>
            <div class="col s3 button-container">
              <button id="substract" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('-')">-</button>
            </div>
            <div class="col s3 button-container">
              <button id="four" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('4')">4</button>
            </div>
            <div class="col s3 button-container">
              <button id="five" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('5')">5</button>
            </div>
            <div class="col s3 button-container">
              <button id="six" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('6')">6</button>
            </div>
            <div class="col s3 button-container">
              <button id="add" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('+')">+</button>
            </div>
          </div>
          <div class="col s9"  style="padding-right: 6px;">
            <div class="col s4 button-container">
              <button id="one" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('1')">1</button>
            </div>
            <div class="col s4 button-container">
              <button id="two" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('2')">2</button>
            </div>
            <div class="col s4 button-container">
              <button id="three" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('3')">3</button>
            </div>
            <div class="col s8 button-container">
              <button id="zero" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('0')">0</button>
            </div>
            <div class="col s4 button-container">
              <button id="decimal" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('.')">.</button>
            </div>
          </div>
          <div class="col s3" style="padding-left: 0px;">
            <div class="col s12 button-container" style="padding-left: 5px;">
              <button id="equals" class="btn-large waves-effect waves-light grey col s12" ng-click="calc('=')">=</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s12 center-align">
            <p>Designed and coded by David Teoran</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
